*{
    margin: 0px;
    padding: 0px;

}

#georgia{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.centralizar{
    width: 50%; 
}

#borda{
    border-style: solid;
    margin-left: 10%;
    margin-top: 6%;
    border-width: 2px;
    margin-bottom: auto;
    
}
.cargo{
    background-color: black;
    border-style: solid;
    color: white;
    margin-left: 2%;
    padding-left: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.caixaTexto{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 5%;
    margin-top: 5%;
    border-style: solid;
    padding: 5%;
    border-width: 1px;
}
img{
    max-width:50px;
    max-height:50px;
    width: auto;
    height: auto;
}