.navbar{
    margin-bottom: 0px;
}

.posi{
    margin: 1%;
    width: 45%;
    margin-left: 25%;
   }
body{
    background-color: aliceblue;
}
.espacamento{
 margin-top: 1%;
 margin-bottom: 0%;
 margin-left: 2%;
}

#espacamento{
    margin-top: 1%;
}

#java{
    margin-left: 15%;
}
.cursos{
    margin-bottom: 9%;
    
}
.nomeform{
    margin-bottom: 1%;
    margin-top: 1%;
}